<header class="header content">
    <div class="container">
        <div class="header-wrapper">
            <a class="logo-title" href="/src/index.html">
                <svg class="logo-icon" width="24" height="24">
                    <use href="/src/images/sprite.svg#icon-film"></use>
                </svg>
                <h1 class="title"> Filmoteka</h1>
            </a>

            <ul class="list-refs">
                <li class="list-items">
                    <a class="header-refs active" href="#">Home</a>
                </li>
                <li class="list-items">
                    <a class="header-refs refs-library" href="#">My Library</a>
                </li>
            </ul>
        </div>
        <form class="search-form" id="search-form">
            <input class="search" type="text" name="searchQuery" autocomplete="off" placeholder="Search movies" />
            <button class="btn-search" type="submit">
                
            </button>
        </form>
    </div>
</header>