<section class="slider-wrapper">
   <div class="container">
    <h2 class="slider-title">Top of week</h2>
    <section class="splide" aria-label="Custom Arrows Example">
        <div class="splide__arrows">
            <button class="splide__arrow splide__arrow--prev arrow">
                Prev
            </button>
            <button class="splide__arrow splide__arrow--next arrow">
                Next
            </button>
        </div>
    
        <div class="splide__track">
            <ul class="splide__list slider-container">
              
            </ul>
        </div>
    </section>
   </div>
</section>

