.pagination-container {
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
}

.tui-pagination * {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tui-ico-ellipsis,
.tui-ico-first,
.tui-ico-last,
.tui-ico-next,
.tui-ico-prev {
  overflow: hidden;
}

.tui-pagination {
  height: 28px;
  margin: 14px 0 12px;
  line-height: normal;
  text-align: center;
  font-size: 0;
}

.tui-pagination.custom-tui-pagination .tui-page-btn {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  padding-top: 13px;
  color: #000000;
  border: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-radius: 5px;
  background-color: transparent;
  line-height: 1;
  text-decoration: none;
  vertical-align: middle;

  @media screen and (min-width: 768px) {
    margin-left: 10px;
  }
}

.tui-pagination.custom-tui-pagination .tui-page-btn:hover {
  background-color: #ff6b08;
}

.tui-pagination.custom-tui-pagination .tui-is-selected,
.tui-pagination.custom-tui-pagination strong {
  color: #fff;
  background: #ff6b08;
  border-color: transparent;
  cursor: default;
}

.tui-pagination.custom-tui-pagination .tui-is-selected:hover {
  background-color: #ff6b08;
}

.tui-pagination.custom-tui-pagination .tui-first-child.tui-is-selected,
.tui-pagination.custom-tui-pagination strong.tui-first-child {
  margin-left: 0;
}

.tui-pagination.custom-tui-pagination .tui-first-child,
.tui-pagination.custom-tui-pagination .tui-prev-is-ellip {
  border-left: transparent;
}

.tui-pagination.custom-tui-pagination .tui-last-child,
.tui-pagination.custom-tui-pagination .tui-next-is-ellip {
  border-right: transparent;
}

.tui-pagination.custom-tui-pagination .tui-first-child.tui-is-selected {
  border-left: transparent;
}

.tui-pagination.custom-tui-pagination .tui-last-child.tui-is-selected {
  border-right: transparent;
}

.tui-pagination.custom-tui-pagination .tui-first,
.tui-pagination.custom-tui-pagination .tui-prev,
.tui-pagination.custom-tui-pagination .tui-next,
.tui-pagination.custom-tui-pagination .tui-last,
.tui-pagination.custom-tui-pagination .tui-prev-is-ellip,
.tui-pagination.custom-tui-pagination .tui-next-is-ellip {
  overflow: hidden;
  height: 26px;
  padding: 0;
  font-size: 0;
  line-height: 26px;
  white-space: nowrap;
  font-weight: normal;
  border: transparent;
}

.tui-pagination.custom-tui-pagination .tui-prev-is-ellip {
  border-right: 0;
}

.tui-pagination.custom-tui-pagination .tui-next-is-ellip {
  border-left: 0;
}

.tui-pagination.custom-tui-pagination .tui-first + .tui-prev,
.tui-pagination.custom-tui-pagination .tui-next + .tui-last {
  border-left: 0;
}

.tui-pagination.custom-tui-pagination .tui-prev-is-ellip,
.tui-pagination.custom-tui-pagination .tui-next-is-ellip {
  padding: 0;
  line-height: 1;
}

.tui-pagination.custom-tui-pagination .tui-ico-first {
  width: 11px;
  height: 10px;
  background-position: 0px 0px;
}

.tui-pagination.custom-tui-pagination .tui-ico-prev {
  width: 6px;
  height: 10px;
  background-position: -26px 0px;
}

.tui-pagination.custom-tui-pagination .tui-ico-next {
  width: 6px;
  height: 10px;
  background-position: -13px -24px;
}

.tui-pagination.custom-tui-pagination .tui-ico-last {
  width: 11px;
  height: 10px;
  background-position: 0px -12px;
}

.tui-pagination.custom-tui-pagination .tui-ico-ellip {
  width: 10px;
  height: 2px;
  margin-top: 16px;
  vertical-align: top;
  background-position: 0px -24px;
}

.tui-pagination.custom-tui-pagination .tui-is-disabled:hover {
  background: #fff;
  cursor: default;
}

.tui-pagination.custom-tui-pagination .tui-is-disabled .tui-ico-prev {
  background-position: -26px -12px;
}

.tui-pagination.custom-tui-pagination .tui-is-disabled .tui-ico-first {
  background-position: -13px 0px;
}

.tui-pagination.custom-tui-pagination .tui-is-disabled .tui-ico-next {
  background-position: -21px -24px;
}

.tui-pagination.custom-tui-pagination .tui-is-disabled .tui-ico-last {
  background-position: -13px -12px;
}

.tui-page-inputs {
  display: inline-block;
  vertical-align: top;
}

.tui-page-inputs.custom-tui-pagination .tui-page-input {
  display: inline-block;
  width: 10px;
  height: 12px;
  padding: 8px 0 6px;
  font-size: 12px;
  text-align: center;
  color: #333;
  border: 0;
  outline: none;
}

.tui-page-inputs.custom-tui-pagination .tui-page-current {
  color: transparent;
}

.tui-page-separator.custom-tui-pagination {
  display: inline-block;
  font-size: 12px;
  height: 12px;
  padding: 8px 0 6px;
  vertical-align: top;
}

// .paginationNone {
//   display: none;
// }

.tui-pagination.custom-tui-pagination .tui-prev-is-ellip,
.tui-pagination.custom-tui-pagination .tui-next-is-ellip {
  @media screen and (max-width: 767px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
}

.tui-pagination.custom-tui-pagination .tui-first,
.tui-pagination.custom-tui-pagination .tui-last {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
